:root {
  --color-grey: #f3f3f3;
  --color-grey-2: #5d5d5d;
  --color-white: #ffffff;
  --color-shadow: #efefef;
  --color-blue: #1461a8;
}

body {
  background-color: var(--color-grey);
  font-family: 'Roboto', sans-serif;
}

.link {
  color: var(--color-grey-2)
}

.link:hover {
  text-decoration: none;
  color: var(--color-grey-2)
}
